/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

body {
  font-family: type.$font;
  background-color: var.$bg-very-light;
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  margin-block: 4rem;
}

.container {
  position: relative;
  text-align: left;
}

.heading {
  font-family: 'Pacifico', cursive;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background color for readability */
  padding: 5px 10px; /* Optional: Add padding for better styling */
}
h1 {
  color: var.$primary-color;
  text-align: left;
}



 /* 👇 Start custom code 👇 */
  /* Style the title */
  .heading {
    font-family: 'Pacifico', cursive;
  }

  
  /* Center the poem */
  .Poem {
    font-family: 'Pacifico', cursive;
  }
